/* ======================================================== */
/*  1) transform: scale() method                            */
/* ======================================================== */
.button {
  font: .9em Arial, Helvetica, sans-serif;
  display: inline-block;
  border-radius: .5em;
  background-color: lightblue;
  border: 1px solid grey;
  padding: .5em;
  /*-webkit-transition:all 0.3s*/ /* text is blurry */
}

/*.button:hover {*/
/*-webkit-transform: scale(1.03);     !* Chrome & Safari *!*/
/*-ms-transform: scale(1.03);         !* Chrome & Safari *!*/
/*transform: scale(1.03);             !* native *!*/
/*}*/
.button:hover {
  transform: scale(1.03);             /* native */
}

/*.transition3 {*/
/*width: 100px;*/
/*height: 100px;*/
/*color: darkgrey;*/
/*background-color: lightgrey;*/
/*-webkit-transition-property: width, color, background-color ;*/
/*-webkit-transition-duration: 1s, 3s, 3s;*/
/*-webkit-transition-timing-function: ease, linear;*/
/*-webkit-transition-delay: 0s, 1s, 1s;*/
/*transition-property: width, color, background-color;*/
/*transition-duration: 1s, 3s, 3s;*/
/*transition-timing-function: ease, linear;*/
/*transition-delay: 0s, 1s, 1s;*/
/*}*/
.transition3 {
  width: 100px;
  height: 100px;
  color: darkgrey;
  background-color: lightgrey;
  transition-property: width, color, background-color;
  transition-duration: 1s, 3s, 3s;
  transition-timing-function: ease, linear;
  transition-delay: 0s, 1s, 1s;
}

/* define keyframe (from|to) name:myfirst */
@keyframes myfirst {           /* native */
  from {
    background: yellow;
    color: black;
  }
  to {
    background: pink;
    color: red;
  }
}

/* bind animations to elem */
/*div.first {*/
/*-webkit-animation: myfirst 3s;   !* Chrome & Safari *!*/
/*-moz-animation: myfirst 3s;      !* firefox *!*/
/*animation: myfirst 3s;           !* native *!*/
/*}*/

div.first {
  animation: myfirst 3s;           /* native */
}
